<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Squire - A creative writing assistant</title>
    <!-- You can link your CSS file here if needed -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>
<body>
    <div style="display: flex;">

        <!-- Text input area -->
        <div style="flex: 1; padding: 10px;">
            <h3>Input Text</h3>
            <textarea id="inputText" rows="20" cols="100" placeholder="Starts writting here"></textarea>
            

            <div style="flex: 1; padding: 10px;">

                <label for="authorSearch">Search Authors:</label>
                <input type="text" id="authorSearch" placeholder="Enter author's name">
    
    
                <label for="authorDropdown">Select author</label>
                <select id="authorDropdown" onchange="updateAuthorSummary()">
                    {% for author in authors %}
                        <option value="{{author.name}}"> "{{author.name}}" </option>
                    {% endfor %}
                </select> 

                <div id="authorSummary">
                    <!-- Author summary will be display here -->

                </div>
    
                <br>

                <label for="categorySearch">Search Categories:</label>
                <input type="text" id="categorySearch" placeholder="Enter category">
    
                <label for="categoryDropdown">Select theme</label>
                <select id="categoryDropdown">
                    {% for category in categories %}
                        <option value="{{category}}"> "{{category}}"</option>
                    {% endfor %}
                </select>


                <button onClick="changeStyle()">Change Style</button>
                <br>
        
            </div>
        
        </div>


        <div style="flex: 1; padding: 10px;">
            <h3>Modified Text</h3>
            <textarea id="ModdedTextArea" rows="20" cols="100" placeholder="Modify text should appear here"></textarea>
            <br>
        </div>
        
        <br>
    <!-- </body> -->

    <script>
            
            var authorsData = JSON.parse('{{ authors|tojson|safe }}');

            function updateAuthorSummary() {

                console.log('updateAuthorSummary called');
                var selectedAuthor = document.getElementById('authorDropdown').value;
            
                //Find selected author summary
                var selectedAuthorSummary = 'Brief summary ofthe author';
                for (var i = 0; i < authorsData.length; i++){
                    if (authorsData[i].name === selectedAuthor){
                        selectedAuthorSummary = authorsData[i].summary;
                        break;
                    }
                }
                
                // Clear the existing content
                var authorSummaryElement = document.getElementById('authorSummary');
                authorSummaryElement.innerHTML = '';
                
                // Create a new paragraph element
                var paragraph = document.createElement('p');
                paragraph.textContent = selectedAuthorSummary;

                // Append the paragraph to select summary
                authorSummaryElement.appendChild(paragraph);
            }

            // Change the style of writting
            // function changeStyle(){
            //     var inputText = document.getElementById('inputText').value;

            //     fetch('/changeTheme', {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/x-www-form-urlencoded',
            //         },
            //         body: 'inputText=' + encodeURIComponent(inputText)
            //     })
            //     .then(response => response.json())
            //     .then(data => {

            //         // Display translated text in the textarea
            //         document.getElementById('ModdedTextArea').value = data.parseText;
            //         console.log('Response:', data);  
            //     })
            //     .catch(error => {
            //         console.error('Error:', error);
            //     });
            // }


        
    </script>
</body>
</html>
