<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Squire - A creative writing assistant</title>
    <!-- You can link your CSS file here if needed -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>
<body>
    <div style="display: flex;">

        <!-- Text input area -->
        <div style="flex: 1; padding: 10px;">
            <h3>Input Text</h3>
            <textarea id="inputText" rows="20" cols="100" placeholder="Starts writting here"></textarea>
            

            <div style="flex: 1; padding: 10px;">

                <!-- author dropdown menu -->
                <label for="authorDropdown">Select author</label>
                <select id="authorDropdown" onchange="updateAuthorSummary()">
                    {% for author in authors %}
                        <option value="{{author.name}}"> {{author.name}} </option>
                    {% endfor %}
                </select> 

                <div id="authorSummary">
                    <!-- Author summary will be display here -->
                </div>
    
                <!-- category dropdown menu -->
                <label for="categoryDropdown">Select theme</label>
                <select id="categoryDropdown">
                    {% for category in categories %}
                        <option value="{{category}}"> {{category}}</option>
                    {% endfor %}
                </select>


                <button onClick="changeStyle()">Change Style</button>
    
               
                <button onClick="changeStyle()">Fix Grammar</button>
                
        
            </div>

            <div style="flex: 1; padding: 10px;">
                <label for="languageFrom">Translate from</label>
                <select id="languageFrom">
                    {% for language in languages %}
                        <option value="{{language}}"> {{language}}</option>
                    {% endfor %}
                </select>

                <label for="languageTo">Translate to</label>
                <select id="languageTo">
                    {% for language in languages %}
                        <option value="{{language}}"> {{language}}</option>
                    {% endfor %}
                </select>

                <button onClick="translateText()">Translate</button>
            </div>

            <!-- Image display area -->
            <div style="padding: 20px;">
                <img id="generatedImage" alt="">
            </div>
        
        </div>


        <div style="flex: 1; padding: 10px;">
            <h3>Modified Text</h3>
            <textarea id="ModdedTextArea" rows="20" cols="100" placeholder="Modify text should appear here"></textarea>
            <br>
            <br>
            <button onclick="generateImage()">Generate Image</button>

            <button onClick="save_story()">Save story and image</button>


            <!-- Radio buttons for image dimensions -->
            <div style="flex: 1; padding: 20px;">
                <h3>Image Dimensions</h3>
                <input type="radio" id="dimension512" name="imageDimensions" value="512x512" checked>
                <label for="dimension512">512x512</label><br>

                <input type="radio" id="dimension1024" name="imageDimensions" value="1024x1024">
                <label for="dimension1024">1024x1024</label><br>

                <input type="radio" id="dimension1024x1792" name="imageDimensions" value="1024x1792">
                <label for="dimension1024x1792">1024x1792</label><br>

                <input type="radio" id="dimension1792x1024" name="imageDimensions" value="1792x1024">
                <label for="dimension1792x1024">1792x1024</label><br>
            </div>

        </div>


    <!-- </body> -->
    <script>
            
            var authorsData = JSON.parse('{{ authors|tojson|safe }}');

            function updateAuthorSummary() {

                console.log('updateAuthorSummary called');
                var selectedAuthor = document.getElementById('authorDropdown').value;
            
                //Find selected author summary
                var selectedAuthorSummary = 'Brief summary ofthe author';
                for (var i = 0; i < authorsData.length; i++){
                    if (authorsData[i].name === selectedAuthor){
                        selectedAuthorSummary = authorsData[i].summary;
                        break;
                    }
                }
                
                // Clear the existing content
                var authorSummaryElement = document.getElementById('authorSummary');
                authorSummaryElement.innerHTML = '';
                
                // Create a new paragraph element
                var paragraph = document.createElement('p');
                paragraph.textContent = selectedAuthorSummary;

                // Append the paragraph to select summary
                authorSummaryElement.appendChild(paragraph);
            }

            // Change the style of writting
            function changeStyle(){

                var inputText = document.getElementById('inputText').value;
                var selectAuthor = document.getElementById('authorDropdown').value;
                var selectCategory = document.getElementById('categoryDropdown').value;

                fetch('/changeTheme', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'inputText=' + encodeURIComponent(inputText) + '&author=' + encodeURIComponent(selectAuthor) + '&category=' + encodeURIComponent(selectCategory)
                })
                .then(response => response.json())
                .then(data => {
                    // Display modify text in the textarea
                    document.getElementById('ModdedTextArea').value = data.parseText;

                    console.log('Response:', data);  
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            // Translate modified text into another language
            function translateText() {

                var inputTextElement = document.getElementById('inputText');
    

                if (inputTextElement) {


                    var inputText = inputTextElement.value;
                    var selectLanguageFrom = document.getElementById('languageFrom').value;
                    var selectLanguageTo = document.getElementById('languageTo').value;

                    console.log(document.getElementById('inputText'));
                    console.log('selectLanguageFrom:', selectLanguageFrom);
                    console.log('selectLanguageTo:', selectLanguageTo);

                    fetch('/translateText',{
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                        },
                        body: JSON.stringify({
                            inputText: inputText,
                            languageFrom : selectLanguageFrom,
                            languageTo : selectLanguageTo
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Display translate text in the textarea
                        document.getElementById('ModdedTextArea').value = data.translateText;
                        console.log('Response:', data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
                else {
                    console.error('Error: Input text is empty or null');
                }
            }

            function generateImage() {

                var originalText = document.getElementById('inputText').value;
                var cleanedTranslated = document.getElementById('ModdedTextArea').value;
                var selectedDimensions = document.querySelector('input[name="imageDimensions"]:checked').value;

                fetch('/generateImage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'ModdedTextArea=' + encodeURIComponent(cleanedTranslated) + '&inputText=' + encodeURIComponent(originalText) + '&imageDimensions=' + encodeURIComponent(selectedDimensions),
                    
                })
                .then(response => response.json())
                .then(data => {

                    // Display the generated image
                    document.getElementById('generatedImage').src = data.imageUrl;
                    console.log('Response:', data);

                console.log('Response:', data);  
                });
            }

            // Save story with image function
            function save_story() {

                var cleanedTranslated = document.getElementById('ModdedTextArea').value;
                var currentImage = document.getElementById('generatedImage').src;

                fetch('/saveStory', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'ModdedTextArea=' + encodeURIComponent(cleanedTranslated) + '&generated_Image=' + encodeURIComponent(currentImage),
                    
                })
                .then(response => response.json())
                .then(data => {

                    // Display the generated image
                    // document.getElementById('generatedImage').src = data.imageUrl;
                    console.log('Response:', data);

                console.log('Response:', data);  
                });
            }
        
    </script>
</body>
</html>
